<aside class="d-lg-flex js-hide flex-column justify-content-start align-items-start pt-lg-5" id="myaside">
  <div class="d-lg-none mb-5 pl-4 w-100 d-flex align-items-center" style="height: 3.5rem; background-color: #ebecec;">
    <img src="/asset/Polygon 1.svg" alt="logo">
    <span class="ml-2 font-weight-bold" style="color: var(--red);">LOGO</span>
  </div>
  <div class="aside__container ml-4">
    <div
      class="<%= path === 'from_admin' ? 'd-flex justify-content-start align-items-center mb-3 pr-2 text-danger' : 'd-flex justify-content-start align-items-center mb-3 pr-2' %>"
      id="formFromAdmin">
      <a class="d-flex justify-content-start align-items-start" href="/client">
        <i class="bi bi-person-lines-fill"></i>
        <div class="pl-2">
          <span class="mb-0" style="font-size: .9rem;">Forms from Admin</span>
        </div>
      </a>
    </div>
    <div
      class="<%= path === 'from_client' ? 'd-flex justify-content-start align-items-center mb-3 pr-2 text-danger' : 'd-flex justify-content-start align-items-center mb-3 pr-2' %>"
      id="formFromAdmin">
      <a class="d-flex justify-content-start align-items-start" href="/client/from_client">
        <i class="bi bi-person-circle"></i>
        <div class="pl-2">
          <span class="mb-0" style="font-size: .9rem;">Forms from Client</span>
        </div>
      </a>
    </div>
    <div
      class="<%= path === 'from_user' ? 'd-flex justify-content-start align-items-center mb-3 pr-2 text-danger' : 'd-flex justify-content-start align-items-center mb-3 pr-2' %>"
      id="formFromUser">
      <a class="d-flex justify-content-start align-items-start" href="/client/from_user">
        <i class="bi bi-file-earmark-person"></i>
        <div class="pl-2">
          <span class="mb-0" style="font-size: .9rem;">Forms from Users</span>
        </div>
      </a>
    </div>
    <div
      class="<%= path === 'create_form' ? 'd-flex justify-content-start align-items-center mb-3 pr-2 text-danger' : 'd-flex justify-content-start align-items-center mb-3 pr-2' %>"
      id="formFromUser">
      <a class="d-flex justify-content-start align-items-center mb-3" href="/client/create_form" id="createForm">
        <i class="bi bi-file-text-fill"></i>
        <span class="mb-0 ml-2" style="font-size: .9rem;">Create Form</span>
      </a>
    </div>
    <% if(clientAuthenticated) { %>
      <form action="/client/logout" method="post">

        <button type="submit" class="bg-white focus border-0 d-flex justify-content-start align-items-center mb-3">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class="mb-0 ml-2" style="font-size: .9rem;">Logout</span>
        </button>
      </form>
      <% } else { %>
        <a class="<%= path === 'login' ? 'text-danger d-flex justify-content-start align-items-center mb-3' : 'd-flex justify-content-start align-items-center mb-3' %>"
          href="/client/login">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class="mb-0 ml-2" style="font-size: .9rem;">Login</span>
        </a>
        <% } %>
  </div>
</aside>
<div class="overlay" id="myoverlay" onclick="clickOverlay()"></div>