<%- include('../components/header.ejs') %>
  </head>

  <body>
    <%- include('../components/topnav.ejs') %>
      <%- include('../components/sidenav.ejs') %>
        <section class="d-flex justify-content-end">
          <div class="section px-2 px-lg-4">
            <div class="create-client-section">
              <div
                class="d-flex justify-content-lg-start justify-content-center px-md-4 px-2 py-2 my-3 bg-white shadow-sm">
                <h4 style="color: var(--grey);">Reset Password</h4>
              </div>
              <div class="create-client pb-3">
                <form action="/client/reset" method="post" class="container"
                  style="max-width: clamp(450px, 90%, 320px) !important;">
                  <% if (errorMessage) { %>
                    <div class="bg-danger p-2 text-center text-white mb-3">
                      <%= errorMessage %>
                    </div>
                    <% } %>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Email address</label>
                        <input name="email" type="email" id="form2Example1" class="form-control" />
                      </div>

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-red btn-block mb-4">Reset Password</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <%- include('../components/footer.ejs') %>